/* universal style */
* {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: "Poppins", sans-serif;
  color: white;
}
.Container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  font-size: 16px;
  color: #ffffff;
  padding: 12px;
  background: #1d4ed8;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
}
h1 {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: -3.2px;
}
h2 {
  font-size: 56px;
  color: #000102;
  text-align: center;
}
h4 {
  color: #0d1b2a;
  font-size: 20px;
}

/* navbar start */
.parant-header {
  background: white;
  padding: 5px 115px;
}
.nav-Container {
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-Container img {
  width: 135px;
  height: auto;
  opacity: 1;
  background-size: cover;
}
.nav-Container ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
.nav-Container ul,
li a {
  color: #575757;
  text-decoration: none;
  text-transform: capitalize;
}
/* navbar end */

/* banner section start */
.parant-hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container p {
  width: 830px;
  text-align: center;
  font-size: 22px;
}
.hero-btn {
  position: relative;
  top: 120px;
}
/* banner section end */

/* Meet the Speakers section start */

.parant-Speakers {
  display: grid;
  padding: 80px 115px 130px;
  gap: 56px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.box {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}
.text {
  padding: 24px;
}
span {
  color: #2563eb;
  display: block;
  font-size: 12px;
}

.box img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.text p {
  color: #666;
  font-size: 14px;
  font-weight: 300;
}
/* Meet the Speakers section end */

/* Secure Your Spot section start */
.parant-Spot {
  max-width: 1140px;
  margin: 0 auto;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.cards {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 40px;
}
.two {
  background: #0d1b2a;
}

.cards ul,
li {
  color: #333333;
  margin-bottom: 10px;
  font-size: 14px;
}
.ul li {
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
}
.cards p {
  color: #888888;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: -5px;
}
.two p {
  color: #93c5fd;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: -5px;
}
strong {
  font-size: 44px;
  font-weight: bold;
  color: #0d1b2a;
}
.two strong {
  font-size: 44px;
  font-weight: bold;
  color: #fff;
}
.cards span {
  color: #888888;
}
hr {
  /* width: 300px; */
  margin: 20px 0;
}
.btnn {
  width: 100%;
  margin-top: 20px;
  background: transparent;
  border: 1px solid #2563eb;
  color: #2563eb;
}
.two-btnn {
  width: 100%;
  margin-top: 20px;
}
/* Secure Your Spot section end */

.parant-footer {
  margin-top: 130px;
  background-color: #0d1b2a;
  padding: 56px 115px 69px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy {
  display: flex;
  list-style: none;
  gap: 24px;
  color: #666;
  font-size: 16px;
}
