/* universal style */
* {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: "Poppins", sans-serif;
  color: white;
}
.Container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  font-size: 16px;
  color: #ffffff;
  padding: 12px;
  background: #1d4ed8;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
}
h1 {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: -3.2px;
}
h2 {
  font-size: 56px;
  color: #000102;
  text-align: center;
}
h4 {
  color: #0d1b2a;
  font-size: 20px;
}

/* navbar start */
.parant-header {
  background: white;
  padding: 5px 115px;
}
.nav-Container {
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-Container img {
  width: 135px;
  height: auto;
  opacity: 1;
  background-size: cover;
}
ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
ul,
li a {
  color: #575757;
  text-decoration: none;
  text-transform: capitalize;
}
/* navbar end */

/* banner section start */
.parant-hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container p {
  width: 830px;
  text-align: center;
  font-size: 22px;
}
.hero-btn {
  position: relative;
  top: 120px;
}
/* banner section end */

/* card-container start */

.parant-Speakers {
  display: grid;
  padding: 80px 115px;
  gap: 56px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.box {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}
.text {
  padding: 24px;
}
span {
  color: #2563eb;
  display: block;
  font-size: 12px;
}

.box img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.text p {
  color: #666;
  font-size: 14px;
  font-weight: 300;
}
/* card-container end */
